#footer {
    background: $primarry;
    padding-top: 48px;

    h3 {
        @include heading();
    }

    .boxs {
        padding-top: 74px;
        padding-bottom: 48px;
        gap: 24px;

        .card {

            .info {
                gap: 10px;
                justify-content: center;
                padding: 25px 41px;

            }

            button {
                margin-left: 30%;
                width: 108px;
                margin-bottom: 15px;
                border-radius: 5px;
                background: $black;
                color: $white;

            }

        }
    }

    .logo {
        img {
            padding-top: 69px;
        }
    }

}