$primarry : #EEEDDE;
$white : #FFFFFF;
$orange : #FF7527;
$black : #203239;

body{
    font-family: "Roboto Condensed", serif;
}
.container{
    max-width: 1166px;

}
p{
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    
}

@mixin button(){
    width: 234px;
    height: 50px;
    border-radius: 10px;
    padding: 13px 41px 13px 12px;
}
@mixin heading(){
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  text-align-last: left;
}
