$primarry : #EEEDDE;
$white : #FFFFFF;
$orange : #FF7527;
$black : #203239;

body{
    font-family: "Roboto Condensed", serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.container{
    max-width: 1166px;
    margin: 0 auto;

}
p{
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}
a{
    text-decoration: none;
    color:$black;
}

@mixin button(){
    width: 234px;
    height: 50px;
    border-radius: 10px;
    padding: 13px 41px 13px 12px;
}
@mixin sub-heading(){
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align-last: left;
  color: $orange;
}
@mixin heading(){
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  text-align-last: left;
}
